<<style type="text/css" rel="stylesheet">
  @import url("/public/dashboard.css");
</style>

<section>
  <p>Welcome <%= user.name %>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First</th>
      </tr>
    </thead>
    <tbody>
      <% if(datas==null || datas.length==0){ %>
        <tr>
          <td colspan="2"> 저장된 데이터가 없습니다 </td>
        </tr>
        <% } %>
          <% datas.forEach(function(data) { %>
            <tr>
              <td>
                <%= data.item %>
              </td>
            </tr>
            <% }) %>
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary" href="/dashboard/new">New</a>
  </div>
  <a href="/users/logout">Logout</a>
</section>