<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.Js and Passport App</title>

    <!-- ejs css-->
    <% if (styleNum==0){ %>
        <link rel="stylesheet" href="/public/welcome.css">
    <% }else if (styleNum==1){ %>
        <link rel="stylesheet" href="/public/register.css">
    <% }else { %>
        <link rel="stylesheet" href="/public/login.css">
    <% } %>
</head>
<body>
    <%- body %>
</body>
</html>