<html>
<style type="text/css" rel="stylesheet">
    @import url("/public/welcome.css");
</style>
<h1><strong>Welcome!</strong></h1>
<p>Create an account or login</p>
<a class="btn btn-primary" href="/users/register" role="button">회원가입</a>
<a class="btn btn-secondary" href="/users/login" role="button">로그인</a>

</html>